[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "Nozzle.R1"]
	path = Nozzle.R1
	url = https://github.com/parklab/nozzle
	subdir = Nozzle.R1
